################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vaja1/.vs/Vaja1
/Vaja1/Vaja1/App_Data
